extends ../../layout/layout.jade

block content

  h1 Contato recebido. 
  
  p Olá #{customer.name},
  
  p Recebemos seu contato através da 
    a(href="https://feiraorganica.com", hreflang="pt-br", style="text-decoration: none;") Feira Orgânica Delivery 
    | e logo vamos analisá-lo e respondê-lo.
    
  p Enquanto isso, aproveite para conhecer 
    a(href="https://feiraorganica.com/feira", hreflang="pt-br", style="text-decoration: none;") nossos produtos orgânicos 
    | e monte hoje mesmo sua cesta.
  
  h2 Detalhes
  
  p 
    b Nome: 
    | #{customer.name}
  p 
    strong E-mail: 
    | #{customer.email}
  p 
    strong Telefone: 
    | #{customer.phone}
  p 
    strong Mensagem: 
    | #{msg}