extends ../../layout/layout.jade

block content

  h1 Novo pedido recebido.
  
  p Olá #{customer.name}.
  
  p Recebemos seu novo pedido e já preparamos tudo para que você possa 
   a(href="https://pagseguro.uol.com.br/v2/checkout/payment.html?code=#{pagseguro.checkout.code}" style="text-decoration: none;") pagar 
   | da maneira mais simples e segura.
   
  p Clique 
    a(href="https://pagseguro.uol.com.br/v2/checkout/payment.html?code=#{pagseguro.checkout.code}" style="text-decoration: none;") aqui 
    | para pagar ou copie o endereço abaixo e cole em seu navegador:
    
  p 
    a(href="https://pagseguro.uol.com.br/v2/checkout/payment.html?code=#{pagseguro.checkout.code}" style="text-decoration: none;") https://pagseguro.uol.com.br/v2/checkout/payment.html?code=#{pagseguro.checkout.code}
    
  p Para acompanhar o seu pedido acesse: 
  
  p 
    a(href="https://feiraorganica.com/meu/pedido/#{_id}" style="text-decoration: none;") https://feiraorganica.com/meu/pedido/#{_id}
  
  h2 Detalhes
  
  p 
    b Pedido: 
    a(href="https://feiraorganica.com/meu/pedido/#{_id}" style="text-decoration: none;") #{_id}
    
  b Entrega: 
  | #{shipping.deliveryOption}
  br
  b CEP: 
  | #{shipping.cep}
  br
  b Rua: 
  | #{shipping.street}
  br
  b Número: 
  | #{shipping.number}
  br
  b Complemento: 
  | #{shipping.complement}
  br
  b Bairro: 
  | #{shipping.district}
  br
  b Cidade: 
  | #{shipping.city}
  br
  b Estado: 
  | #{shipping.state}
  br
  b Referência: 
  | #{shipping.address_ref}
  br
  b Valor da cesta R$: 
  | #{total}
  br
  b Valor do frete R$: 
  | #{shipping.price}
  br
  b Valor final R$: 
  | #{total+shipping.price}
  br
  b Data: 
  | #{updated}