extends ../../layout/layout.jade

block content

  h1 Pedido pendente.
  
  p Olá #{customer.name}.
  
  p O status do seu pedido continua como Aguardando pagamento.
  
  p Você ainda pode efetuar o pagamento clicando 
    a(href="https://pagseguro.uol.com.br/v2/checkout/payment.html?code=#{pagseguro.checkout.code}", hreflang="pt-br", style="text-decoration: none;") aqui 
    |  ou copiando o endereço abaixo e colando em seu navegador:
  
  p As formas de pagamento disponibilizadas se encaixam em suas necessidades?
  
  p Em caso de dúvidas ou sugestões, responda a este e-mail.
  
  p Para ver o seu pedido acesse: 
  
  p 
    a(href="https://feiraorganica.com/meu/pedido/#{_id}", hreflang="pt-br", style="text-decoration: none;") https://feiraorganica.com/meu/pedido/#{_id}
  
  h2 Detalhes
  
  p 
    b Pedido: 
    a(href="https://feiraorganica.com/meu/pedido/#{_id}", hreflang="pt-br", style="text-decoration: none;") #{_id}
    
  b Entrega: 
  | #{moment(shipping.date).locale("pt-br").format('dddd, DD/MM/YYYY').toUpperCase()}
  br
  b CEP: 
  | #{shipping.cep}
  br
  b Rua: 
  | #{shipping.street}
  br
  b Número: 
  | #{shipping.number}
  br
  b Complemento: 
  | #{shipping.complement}
  br
  b Bairro: 
  | #{shipping.district}
  br
  b Cidade: 
  | #{shipping.city}
  br
  b Estado: 
  | #{shipping.state}
  br
  b Referência: 
  | #{shipping.address_ref}
  br
  b Valor da cesta R$: 
  | #{total.toFixed(2)}
  br
  b Valor do frete R$: 
  | #{shipping.price.toFixed(2)}
  br
  b Valor final R$: 
  | #{(total+shipping.price).toFixed(2)}
  br
  b Data: 
  | #{moment(updated).locale("pt-br").format('dddd, DD/MM/YYYY').toUpperCase()}