doctype html
html(lang="pt-br")
    head
        title #{product.name}
        
        meta(name='description', content='#{product.dscr}')

        link(rel="author" href="https://plus.google.com/+BrunoJoão1")
        a(href="https://plus.google.com/+BrunoJoão1?rel=author" style="display:none;")
        a(href="https://plus.google.com/+BrunoJoão1" rel="me" style="display:none;")
        link(rel='publisher' href="https://plus.google.com/107566665570039529018")

        meta(itemprop='name', content='#{product.name}')
        meta(itemprop='description', content='#{product.dscr}')
        meta(itemprop='image', content='#{product.img}')

        meta(name='twitter:card', content='product')
        meta(name='twitter:site', content='@feira_organica')
        meta(name='twitter:title', content='#{product.name}')
        meta(name='twitter:description', content='#{product.dscr}')
        meta(name='twitter:image', content='#{product.img}')
        meta(name='twitter:data1', content='R$#{product.price}')
        meta(name='twitter:label1', content='Preço')
        meta(name='twitter:data2', content='#{product.season}')
        meta(name='twitter:label2', content='Época')

        meta(property='og:title', content='#{product.name}')
        meta(property='og:type', content='article')
        meta(property='og:url', content='https://feiraorganica.com/feira/#{product._id}')
        meta(property='og:image:url', content='#{product.img}')
        meta(property='og:image:secure_url', content='#{product.img}')
        meta(property='og:description', content='#{product.dscr}')
        meta(property='og:site_name', content='Feira Orgânica Delivery')
