extends ../../layout/layout.jade

block content

  h1 Pedido cancelado.
  
  p Olá #{customer.name}.
  
  p O status do seu pedido foi alterado para Cancelado.
  
  p Buscando melhorar a qualidade dos nossos serviços, pedimos que você nos conte um pouco da sua experiência com a 
    a(href="https://feiraorganica.com", hreflang="pt-br", style="text-decoration: none;") Feira Orgânica Delivery 
    | respondendo a este e-mail.
  
  p Abaixo, algumas sugestões do que gostaríamos de saber:
  
  ul
    li Qual o maior benefício em adiquirir produtos na 
      a(href="https://feiraorganica.com", hreflang="pt-br", style="text-decoration: none;") Feira Orgânica Delivery 
      | ?
    li Como ficou sabendo da 
      a(href="https://feiraorganica.com", hreflang="pt-br", style="text-decoration: none;") Feira Orgânica Delivery 
      | ?
    li Como foi sua experiência de comprar na 
      a(href="https://feiraorganica.com", hreflang="pt-br", style="text-decoration: none;") Feira Orgânica Delivery 
      | ?
    li As formas de pagamento disponibilizadas se encaixam em suas necessidades?
  
  p Para ver o seu pedido acesse: 
  
  p 
    a(href="https://feiraorganica.com/meu/pedido/#{_id}", hreflang="pt-br", style="text-decoration: none;") https://feiraorganica.com/meu/pedido/#{_id}
  
  h2 Detalhes
  
  p 
    b Pedido: 
    a(href="https://feiraorganica.com/meu/pedido/#{_id}", hreflang="pt-br", style="text-decoration: none;") #{_id}
    
  b Entrega: 
  | #{moment(shipping.date).locale("pt-br").format('dddd, DD/MM/YYYY').toUpperCase()}
  br
  b CEP: 
  | #{shipping.cep}
  br
  b Rua: 
  | #{shipping.street}
  br
  b Número: 
  | #{shipping.number}
  br
  b Complemento: 
  | #{shipping.complement}
  br
  b Bairro: 
  | #{shipping.district}
  br
  b Cidade: 
  | #{shipping.city}
  br
  b Estado: 
  | #{shipping.state}
  br
  b Referência: 
  | #{shipping.address_ref}
  br
  b Valor da cesta R$: 
  | #{total.toFixed(2)}
  br
  b Valor do frete R$: 
  | #{shipping.price.toFixed(2)}
  br
  b Valor final R$: 
  | #{(total+shipping.price).toFixed(2)}
  br
  b Data: 
  | #{moment(updated).locale("pt-br").format('dddd, DD/MM/YYYY').toUpperCase()}