extends ../../layout/layout.jade

block content

  h1 Pagamento realizado.
  
  p Olá #{customer.name}.
  
  p Identificamos o pagamento do pedido 
   a(href="https://feiraorganica.com/meu/pedido/#{_id}", hreflang="pt-br", style="text-decoration: none;") #{_id}.
   
  p Para acompanhar a entrega acesse: 
    a(href="https://feiraorganica.com/meu/pedido/#{_id}", hreflang="pt-br", style="text-decoration: none;") https://feiraorgânica.com/meu/pedido/#{_id}
  
  h2 Detalhes
  
  p 
    b Pedido: 
    a(href="https://feiraorganica.com/meu/pedido/#{_id}", hreflang="pt-br", style="text-decoration: none;") #{_id}
    
  b Entrega: 
  | #{shipping.deliveryOption}
  br
  b CEP: 
  | #{shipping.cep}
  br
  b Rua: 
  | #{shipping.street}
  br
  b Número: 
  | #{shipping.number}
  br
  b Complemento: 
  | #{shipping.complement}
  br
  b Bairro: 
  | #{shipping.district}
  br
  b Cidade: 
  | #{shipping.city}
  br
  b Estado: 
  | #{shipping.state}
  br
  b Referência: 
  | #{shipping.address_ref}
  br
  b Valor da cesta R$: 
  | #{total}
  br
  b Valor do frete R$: 
  | #{shipping.price}
  br
  b Valor final R$: 
  | #{total+shipping.price}
  br
  b Data: 
  | #{updated}